/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@font-face {
	font-family: 'DroidSansBold';
	src: url(fonts/DroidSans-Bold.ttf)
	format('ttf');
}

#new-post-link {
	position: absolute;
	background-color:#fe1a00;
	height: 65px;
	line-height: 65px;
	border-radius: 30px;
	width: 131px;
	text-align: center;
}

#new-post-link a{
	color: white;
}


section {
	position: relative;
	float: left;
	top: 0px;
	margin-left: 300px;
	width: 650px;
	z-index: -1;
}

#menu {
	position: relative;
	font-family: 'DroidSansBold', Georgia;
	height: 28px;
	padding-bottom: 0px;
}

#menu ul {
	border-bottom-style: solid;
	border-bottom-color: lightgray;
	border-bottom-width: 1px;
	padding-bottom: 2%;
	width: 100%;
	opacity: .5;
	padding-left: 0px;
	margin: 0px;
	margin-top: 50px;
}

#menu li {
	display: inline;
	padding-left: 5%;
}

#menu a {
	text-decoration: none;
	opacity: .7;
	color: black;
}

#menu a:hover{
	opacity: 1;
	color: black;
}

#posts {
	position: relative;
	width: 100%;
	height: 150px;
	margin: 0px;
	border-bottom-style: solid;
	border-bottom-color: lightgray;
	border-bottom-width: 1px;
	padding-bottom: 30px;
	padding-top: 30px;
}

#posts h1 {
	margin-bottom: 16px;
	font: bold 13px "DroidSansBold", Verdana, sans-serif;
}

#posts a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#padding {
	padding: 10px 50px 50px 50px;
}

#pic {
	position: relative;
	float: right;
	height: 100px;
	line-height: 100px;
}

#pic, img {
	border-radius: 200px;
	height: 100px;
	line-height: 100px;
}

#button {
	position: relative;
	background-color: black;
	border-radius: 16px;
	text-indent:0px;
	display: inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:131px;
	text-decoration:none;
	text-align:center;
	top: 200px;
	left: 16px;
}

#button a {
	color: white;
}

#welcome-site {
	color: black;
	margin-top: 50px;
	padding-left: 40px;
	font-family: Colab, Georgia;
}

h2 {
	font-size: 54px;
}

a {
	text-decoration: none;
}


