// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#left-side {
	position: fixed;
	float: left;
	height: 100%;
	width: 300px;
	background-image: url(image-path("bike.jpeg"));
	background-size: cover;
	border-right-style: solid;
	border-right-width: 1px;
	top: 0px;
	left: 0px;
	z-index: 10;
}

#lauren-date {
	color: gray;
	padding-left: 10px;
}

.sub {
	width: 400px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	height: 105px;
	text-overflow: ellipsis;
}

#title {
	font-size: 32px;
}

p {
	margin-bottom: 0px;
}


