<div id='menu'>
	<ul>
		<li><%= link_to "POSTS", posts_path %></li>
		<li><a href="#">TESTING</a></li>
		<li><a href="#">ARTICLES</a></li>
		<li><a href="#">FICTION</a></li>
		<li><a href="#">RAO</a></li>
	</ul>
</div>