<div id='left-side'>
	<div id='welcome-site'>
	  <h2><%= link_to "Writer Lauren", root_path %></h2>
	  <h3>Welcome to my Blog</h3>
	</div>
	<span id='button'>
		<%= link_to 'Contact', post_path(1) %>
	</span>
	<span id='button'>
		<%= link_to 'Resume', post_path(1) %>
	</span>
</div>

